body {
	  background-color: #DDEEFF;
      margin: 0;
      padding: 0;
	}

input {
    width:100px;
}


#TopTable {
    float:left;
    width:90%;
    margin: 20px 70px 10px 50px;
    border-style: solid;
    border-width: thin;
}

#TxtTable {
    clear:left;
    width:90%;
    margin: 50px 5% 0px 5%;
}

#TextBox {
    width:100%;
}



#SliderSrv1, #SliderSrv2 {
    width:160px;
    height: 10px;
    margin: 10px 0px 40px 50px;
    font-size: 12px;
}

#commandes1 {
    clear:left;
    width:90%;
    margin: 0 50px 0 50px;

/*    border-style: solid;
    border-width: thin;
 */
}

#TurnCmdTable {
    float:left;
    margin: 10px;
    max-width: 250px;
    border-style: ridge;
    border-width: thin;
}

#GrandPathCmdTable {
    float:left;
    margin: 10px;
    max-width: 250px;
    border-style: ridge;
    border-width: thin;
}

#TestCmdTable {
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    max-width: 250px;
    border-style: ridge;
    border-width: thin;
}

#PathCmdTable {
    margin: 10px;
    max-width: 250px;
    border-style: ridge;
    border-width: thin;
}

#RunCmdTable {
    float:left;
    margin: 10px;
    max-width: 250px;
    border-style: ridge;
    border-width: thin;
}


#chartv {
    float:right;
    margin: 10px;
}

#plan {
    float:right;
    margin: 10px;
}

#charth {
    margin: 10px;
}

#ScanHorizon {
    float:left;
    margin: 10px;
}
#ScanVertical {
    float:left;
    margin: 10px;
}


#TestCanvas {
    margin: 10px;
    border-style: solid;
}

#onglets
{
    font : bold 11px Batang, arial, serif;
    list-style-type : none;
    padding-bottom : 24px; /* à modifier suivant la taille de la police ET de la hauteur de l'onglet dans #onglets li */
    border-bottom : 1px solid #9EA0A1;
    width: 95%;
    margin-left : 1%;
    margin-right : 1%;
    margin-bottom : 10px;
    margin-top: 10px;

}

#onglets li
{
    float : left;
    height : 21px; /* à modifier suivant la taille de la police pour centrer le texte dans l'onglet */
    background-color: #F4F9FD;
    margin : 2px 2px 0 2px !important;  /* Pour les navigateurs autre que IE */
    margin : 1px 2px 0 2px;  /* Pour IE  */
    border : 1px solid #9EA0A1;
}

#onglets li.active
{
    border-bottom: 1px solid #fff;
    background-color: #fff;
}

#onglets a
{
    display : block;
    color : #666;
    text-decoration : none;
    padding : 4px;
}

#onglets a:hover
{
    background : #fff;
}
